receivers:
  otlp:
    protocols:
      grpc:
        endpoint: "0.0.0.0:4317"
      http:
      
processors:
  batch:

exporters:
  logging:
    loglevel: debug
  otlp:
    endpoint: "http://otel-collector:4317"
    tls:
      insecure: true
  otlphttp:
    endpoint: "http://otel-collector:4317"
    tls:
      insecure: true
  otlp/elastic:
    endpoint: "http://apm-server:8200"
    tls:
      insecure: true

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [logging, otlp/elastic]
    metrics:
      receivers: [otlp]
      exporters: [logging, otlp/elastic]
    logs:
      receivers: [otlp]
      exporters: [logging, otlp/elastic]
  






  # memory_limiter:
  #   check_interval: 1s
  #   limit_mib: 2000

  # sending_queue:
  #     enabled: true
  #     num_consumers: 10
  #     queue_size: 5000



  
  # debug:
  #   verbosity: detailed
  # otlp:
  #   endpoint: "http://otel-collector:4317"  # Update this endpoint as per your setup
  #   tls:
  #     insecure: true


  # telemetry:
  #   logs:
  #     encoding: json
